<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="/">Bob the Cat</a>
    <nav class="site-nav">
      <!-- Hamburger Menu Checkbox -->
      <input type="checkbox" id="nav-trigger" class="nav-trigger" aria-label="Menu Toggle" />
      <!-- Hamburger Icon -->
      <label for="nav-trigger" class="menu-icon-label">
        <span class="menu-icon"></span>
      </label>
      <!-- Menu Items -->
      <div class="trigger">
        <ul class="navigation-menu">
          <li><a routerLink="/" class="menu-item">Home</a></li>
          <li><a routerLink="/about" class="menu-item">About Bob</a></li>
          <li><a routerLink="/gallery" class="menu-item">Gallery</a></li>
          <li><a routerLink="/bob-life" class="menu-item">A Day in Bob's Life</a></li>
          <li><a routerLink="/name-tree" class="menu-item">Bob's Names</a></li>
          <li><a routerLink="/anthem" class="menu-item">Bob's Anthem</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>