<footer class="site-footer h-card">
    <div class="wrapper">
        <h2 class="footer-heading">Bob the Cat</h2>
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li class="p-name">Bob the Cat</li>
                </ul>
            </div>
            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <!-- Instagram link -->
                    <li>
                        <a href="https://www.instagram.com/bobbatausa/" target="_blank">
                            <!-- Using SVG icon here -->
                            <svg class="icon icon-instagram" viewBox="0 0 16 16">
                                <use xlink:href="#instagram"></use>
                            </svg>
                            Instagram
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-col footer-col-3">
                <p>A website dedicated to the adventures of Bob, the cutest cat.</p>
            </div>
        </div>
    </div>
</footer>