

<!-- Footer HTML -->
<footer class="site-footer">
    <div class="wrapper">
      <div class="footer-content">
        <h2>Bob the Cat</h2>
        <a href="https://www.instagram.com/bobbatausa/" class="footer-link" target="_blank">Follow Bob on Instagram</a>
        <p>Follow along Bob on her daily adventures!</p>
      </div>
      <div class="footer-nav">
          <a routerLink="/" class="footer-nav-item">Home</a>
          <a routerLink="/about" class="footer-nav-item">About Bob</a>
          <a routerLink="/gallery" class="footer-nav-item">Gallery</a>
          <a routerLink="/bob-life" class="footer-nav-item">A Day in Bob's Life</a>
          <a routerLink="/name-tree" class="footer-nav-item">Bob's Names</a>
      </div>
    </div>
  </footer>