<main class="page-content" aria-label="Content">
    <div class="wrapper">
      <h1>A Day in My Life 🐾</h1>
  
      <section>
        <h2>Morning Adventures</h2>
        <ul>
          <li>In the morning, I meow for food because breakfast is the most important meal of the day.</li>
          <li>If my human takes too long to wake up, I meow near the door to remind them I'm hungry.</li>
          <li>I pretend to walk on them and meow even more for food once they finally wake up.</li>
          <li>After eating, I follow my human downstairs, meowing like I haven't eaten in years! (even though it's probably only been 4 hours...).</li>
        </ul>
      </section>
  
      <section>
        <h2>Post-Breakfast Rituals</h2>
        <ul>
          <li>After breakfast, it's time for my favorite activity: sunbathing!</li>
          <li>I like to freeze and pretend to be a statue, ready to pounce on any unsuspecting toy or piece of string.</li>
          <li>I occasionally munch on some grass – don't judge me; it's a cat thing!</li>
          <li>Bothering my owner is a must. I meow and drag my favorite toy around for some playtime.</li>
          <li>For extra attention, I like to step on my owner's neck while they're trying to relax. I think she likes it!</li>
        </ul>
      </section>
  
      <section>
        <h2>Bedtime Antics</h2>
        <ul>
          <li>When my human comes home, I'm always happy to see her. But if she take too long to get in bed, I will give her an attitude.</li>
          <li>I bite my owners ankles and playfully chase them like they're my prey until they finally get into bed.</li>
          <li>The moment they get into bed, I snuggle up close – because nighttime is cuddle time!</li>
        </ul>
      </section>
    </div>
  </main>
  