---
layout: default
---

<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title }}</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        {% for link, url in site.navbar-links %}
          <li><a href="{{ url }}">{{ link }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <main>
    <h1>{{ site.title }}</h1>
    <p>{{ site.author }}</p>
    <!-- Your main content goes here -->
  </main>
  <footer>
    <ul>
      {% for network, link in site.social-network-links %}
        <li><a href="{{ link }}">{{ network }}</a></li>
      {% endfor %}
    </ul>
  </footer>
</body>
</html>