@import 'src/styles.scss';

.quiz-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: $background-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px $box-shadow-color;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: $primary-color;
  text-align: center;
}

.question-block {
  margin-bottom: 20px;

  p {
    font-weight: bold;
    color: $text-color;
  }

  .answer-option {
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: $secondary-color;

    input[type='radio'] {
      margin-right: 10px;
    }
  }
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: $primary-color;
  color: $button-text-color;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.results {
  text-align: center;
  margin-top: 20px;

  h2 {
    color: $primary-color;
    font-size: 1.8rem;
  }

  p {
    font-size: 1.2rem;
    color: $text-color;
  }
}
