/* login.component.scss */

@import 'src/styles.scss';

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $background-color;
}

.form-container {
  background: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 16px $box-shadow-color;
  text-align: center;
  max-width: 400px;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  font-family: $font-family-base;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px $hover-shadow-color;
  }
}

h2 {
  font-family: $font-family-base;
  color: $secondary-color;
  margin-bottom: 0.5rem;
  animation: fadeIn 1s ease-in-out;
}

p {
  font-size: 0.9rem;
  color: $text-color;
  margin-bottom: 1rem;
}

.input-group {
  margin-bottom: 1.5rem;
  text-align: left;

  label {
    display: block;
    font-size: 0.8rem;
    color: $secondary-color;
  }

  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color: $text-color;
    background: $background-color;
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;

    &:focus {
      outline: none;
      border-color: $primary-color;
      box-shadow: 0 0 5px fade-out($primary-color, 0.5);
    }
  }
}

.submit-btn {
  width: 100%;
  padding: 0.8rem;
  background: $primary-color;
  color: $button-text-color;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: lighten($primary-color, 10%);
  }
}

.toggle-btn {
  background: transparent;
  color: $secondary-color;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 0.9rem;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: darken($primary-color, 10%);
  }
}

/* Add animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
