@import 'src/styles.scss';

.name-tree {
  font-family: $font-family-base;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: $background-color;
  border-radius: 8px;
  box-shadow: 0 2px 4px $box-shadow-color;
}

.name-tree h1 {
  color: $text-color;
  text-align: center;
}

.name-tree ul {
  list-style: none;
  padding: 0;
}

.name-tree li {
  margin-bottom: 10px;
}

.name-tree h2 {
  cursor: pointer;
  color: $secondary-color;
  margin: 10px 0;
}

.name-tree h2:hover {
  color: $primary-color;
}

/* Sub-elements (span) styling */
.name-tree span {
  display: block;
  padding-left: 20px;
  color: darken($secondary-color, 20%); /* Darken for better readability */
  font-weight: 500; /* Slightly bolder */
  font-size: 1.1rem; /* Slightly larger font */
}

/* Indicate that category can be toggled */
.name-tree h2::before {
  content: '▸';
  display: inline-block;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

/* Rotate the symbol when category is open */
.name-tree ul li ul {
  margin-top: 5px;
  margin-left: 20px;
}

.name-tree .is-open::before {
  transform: rotate(90deg);
}
