.page-content {
    background-color: #fff; // White background for brightness and clarity
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #f8c0c0 0%, #f1f1f1 100%);
    border: 2px solid #000;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    h1#anthem-title {
        font-size: 2.5rem;
        color: #0033A0; // Dark blue for the title
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 2px solid #BD202E; // Red underline for emphasis
        margin-bottom: 20px;
    }

    .welcome-text {
        font-size: 1rem; // Adjust base font size for better readability on mobile
        line-height: 1.6; // Increase line height for better readability
        margin: 20px 0; // Add some vertical spacing
        text-align: left; // Align text left for traditional reading layout
        padding: 0 10px; // Add padding on the sides
    
        // Increase spacing around line breaks on mobile devices
        br {
            content: "";
            display: block; // Ensures the line break behaves like a block element
            margin: 1em 0; // Adds vertical space around line breaks
        }
    
        // Enhancements specific to smaller screens
        @media (max-width: 600px) {
            font-size: 0.9rem; // Slightly smaller font for smaller screens
            padding: 0 15px; // Increased padding on the sides
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 15px;
        h1#anthem-title {
            font-size: 2rem; // Smaller font size for smaller screens
        }
    }
}

