<main class="page-content" aria-label="Content">
    <div class="wrapper">
      <h1 id="anthem-title">Star Spangled Bobby Girl</h1>
      <div class="decorative-elements">
        <div class="fireworks" style="background-image: url('/assets/bob.jpg');"></div>
        <div class="stars" style="background-image: url('/assets/bob.jpg');"></div>

      </div>
      <p class="welcome-text">
        O say can you see, by the Yum yum's early light,<br>
        What so Sweet heart we hailed, at the Maymie's last meow,<br>
        Whose broad Bobsicles and bright stars, through the perilous Mommy pie fight,<br>
        O'er the ramparts Bobitha watched, were so gallantly streaming?<br>
        And the baby fart's red glare, Bob pops bursting in Big world air,<br>
        Gave proof through the Momom, that our Baby boy was still there;<br>
        O, say, does that bobby girl maymie, yet wave,<br>
        O'er the land of the Window world,<br>
        and the home of the Worldey baby girly.
      </p> 
    </div>
  </main>