<main class="page-content" aria-label="Content">
  <div class="wrapper">
    <h1 id="meet-bob-">Meet Bob 🐱</h1>

    <p class="welcome-text">Welcome to the official site of Bob, the most charming cat you’ll ever meet.</p>

    <div class="image-container">
      <img src="/assets/bob.jpg" alt="Bob's Picture" class="intro-image" />
    </div>

    <p class="info-text">Looking to learn more about our fluffy friend? Check out <a routerLink="/about" class="page-link">About Bob</a>.
    </p>
  </div>
</main>